
<div class="about-section">
    <div class="header">
        <h2>About <span>Kenema Pharmacy</span></h2>

    </div>
          <div class="about-para">
              <p>
                 <span>"Student project for the software engineering course at AASTU."</span>
                  <br />
                  This is a Kenema Pharmacy-designed website. This website assists patients in purchasing medications via the internet. Before you buy something, the website checks to see if you need a prescription. The patient cannot order the product via the internet if a prescription is necessary. If a prescription isn't required, the patient can buy the product directly from the website. The patient will be compelled to input personal information as a result of this.
                  Please note that this website is intended for class projects.
              </p>

          </div>
</div>